:root {
    --white: #fff;
    --primary: #fb7413;
    --grey1: #959eac;
    --grey2: #7c8798;
    --blue1: #303942;
    --blue2: #252c34;
    --blue3: #252d37;
    --blue4: #121417;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      background: var(--blue4);
      -webkit-font-smoothing: antialiased;
  }
  
  body, input, textarea, button {
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
      font-size: 1rem;
  }